.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.label {
  color: white;
  margin: 10px;
}
