.container {
  display: grid;
  grid-template-columns: auto 90px;
  /* background-color: aqua; */
  width: 100%;
  padding: 5px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: baseline;
}

h3 {
  text-align: start;
  font-weight: 100;
  color: white;
  margin: 0px;
  /* background-color: red; */
}

.logoutButton {
  font-size: 14px;
  background-color: hsl(187, 88%, 19%);
  color: white;
  padding: 15px;
  border: 1px black solid;
  width: 80px;
  /* height: 64px; */
  border-radius: 50px;
  cursor: pointer;
}
