.container {
  margin-top: 30px;
  border: 1px white solid;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 255, 255, 0.05);
  color: greenyellow;
  display: flex;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

.infoContainer {
  margin: 10px 30px 10px 30px;
  min-width: 300px;
}

.imageContainer img {
  border-radius: 20px;
}

.links {
  color: white;
  font-weight: 200;
}

.specs {
  margin: 0px;
  font-weight: 400;
}
