@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Salsa&family=Shantell+Sans&display=swap");
* {
  font-family: "Salsa", cursive;
  /* font-family: "Englebert", sans-serif; */
  /* font-family: "Shantell Sans", cursive; */
  box-sizing: border-box;
}

h2 {
  font-size: x-large;
}

.divContainer {
  /* border: red solid 1px; */
  /* position: relative; */
  /* width: clamp(200px, 60vw, 300px);   USAR ESTE */
  width: 300px;
  /* height: 400px; */
  aspect-ratio: 3/4;
  overflow: hidden;
  margin: 30px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;

  user-select: none;

  /* border-radius: 20px; */

  /* border: red solid 5px; */

  box-shadow: 0px 0px 5px #048394;
  /* box-shadow: 1px 1px 5px rgba(192, 247, 0.1), -1px 1px 5px rgba(192, 247, 0.1),
    1px -1px 5px rgba(192, 247, 0.1), -1px -1px 5px rgba(192, 247, 0.1); */
  transition: all linear 0.4s;
}

.divHeader {
  position: relative;
  /* border: yellow solid 1px; */
}

.divFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  background-color: black;
  z-index: 1;
}

.h2Name {
  margin: 0;
  height: min-content;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #048394;
  text-shadow: 0px 0px 3px rgb(192, 247, 0.3);
  text-align: center;
  text-decoration: none;
}

.divHeader img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* border-radius: 20px 20px 0 0; */
}

.divHeader .closeButton {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.divHeader .favYesButton {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.divHeader .favNoButton {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.favNoImg {
  filter: drop-shadow(0 0 3px #d1f73f);
  transition: all 0.2s linear;
}
.favYesImg {
  filter: drop-shadow(0 0 1px #d1f73f);
  transition: all 0.2s linear;
}

.info {
  /* border: solid blue 1px; */
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0px;
  right: 250px;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: repeat(4, 50px);
  grid-template-areas:
    "h2Status imgStatus"
    "h2Species imgSpecies"
    "h2Gender imgGender"
    "h2Origin imgOrigin";
  /* "imgStatus h2Status"
        "imgSpecies h2Species"
        "imgGender h2Gender"
        "imgOrigin h2Origin"; */
  transition: all 0.6s ease-in;
}

.info .imgStatus {
  grid-area: imgStatus;
}
.info .divStatus {
  grid-area: h2Status;
  /* align-self: center; */
}
.info .imgSpecies {
  grid-area: imgSpecies;
}
.info .divSpecies {
  grid-area: h2Species;
  /* align-self: center; */
}
.info .imgGender {
  grid-area: imgGender;
}
.info .divGender {
  grid-area: h2Gender;
  align-self: center;
}
.info .imgOrigin {
  grid-area: imgOrigin;
  object-fit: cover;
  /* box-shadow: 0 0 10px #d1f73f; */
  filter: drop-shadow(0 0 1px #d1f73f);
}
.info .divOrigin {
  grid-area: h2Origin;
  align-self: center;
}

.info img {
  /* height: 90%;
    width: 90%; */
  padding: 5px;
  object-fit: fill;
  overflow: hidden;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  border-right: white solid 1px;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.info div {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  border-left: white solid 1px;
  justify-content: flex-end;
}

.info h2 {
  display: inline;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding-right: 5px;
  text-align: end;
}

.divContainer:hover {
  transition: all linear 0.4s;
  box-shadow: 0px 0px 20px rgba(192, 247, 0.3);
  /* box-shadow: 5px 5px 20px rgba(192, 247, 0.3),
    -5px 5px 20px rgba(192, 247, 0.3), 5px -5px 20px rgba(192, 243, 0.3),
    -5px -5px 20px rgba(192, 243, 0.3); */
}

.divContainer:hover .info {
  transform: translateX(250px);
  transition: all 0.6s ease-out;
}
